



<form method=post action="/questions/<%=@question_id%>/answers">
  <p>Answer here</p>
    <input type=text placeholder="Answer Content" name="user[answer_content]"><br>

    <input type=submit value='Submit'><br>
</form>
