<h2> Can you answer this question?</h2>

<form method=post action=/answers>
    <input type=text placeholder="Answer Content" name="user[answer_content]"><br>
    <input type=submit value='Submit'><br>
</form>
