<!-- <div class='logged in header'>
</div> -->

<h1>Welcome to DogeRa</h1>

<p>This is the dashboard</p>
<p>This is where the homepage if log in</p>

<article>
	<% @list_question.each do |x| %>
	<% question_id = "/questions/#{x.id}" %>
	<h4><a href=<%= question_id %>><%=x.question_title%></a></h4>
	<p><%=x.question_desc%></p>
	<% end %>
</article>

<form method=post action=/questions>
    <input type=text placeholder="Question Title" name="user[question_title]"><br>
    <input type=text placeholder="Question Description" name ="user[question_desc]"><br>
    <input type=submit value='Submit'><br>
</form>

<form method=post action=/logout>
		<input type=submit value="Logout">
</form>
