<h1>Quoral</h1>
<h3>Questions for Answers</h3>

<h2>Log In</h2>
<form method=post action=/login>
	<input type=text placeholder="Email" name="user[email]"><br>
	<input type=password placeholder="Password" name="user[password]"><br>
	<input type=submit value="Sign in">
</form>




<button>
	<a href=/signup>
		<input type=button value='Sign Up!'>
	</a>
</button>
