<h1> Edit your existing questions</h1>

<form method=post action=<%= @edit_url %>>
    <input type=text placeholder="Question Title" name="question_title"><br>
    <input type=text placeholder="Question Description" name ="question_desc"><br>
    <input type=submit value='Submit'><br>
</form>
